<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Proyecto Final PO4</title>
  
    
    <link rel="stylesheet" href="main1.css  ">
    <link rel="stylesheet" href="{{url_for('static', filename='css/es35.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
  
  </head>
  <body>

    <!-- NAVIGATION  -->
    <header>
		
      <div class="contenedor">		
          
  
          
          <nav class="menu">
            <div class="imagen">
            <img src="../static/img/logo.png" width="140px" height="110px">
            </div>
              <div class="links">
              <a href="/">Inicio</a>
              <a href="/resumen">Resumen</a>
              <a href="/sobre_nosotros">Sobre Nosotros</a>
              </div>
          </nav>
      
  
        <div class="contenedor-texto">
  
            <div class="titulo">
          
              <h1>Proyecto Final - Flask</h1>
              <h2>Programacion de computadoras 4</h2>
  
            </div>
  
        </div>
  
      
  
      </div>
  
    </header>

 
    <div class="contenedor-main">
      
        <div >
          {% with messages = get_flashed_messages()  %}
          {% if messages %}
          {% for message in messages %}
          <div role="alert" class="alert alert-success alert-dismissible fade show">
            {{ message }}
            <button type="button"  class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
          <div  class="box-registro">
              <h3 style="color: white; text-align:center;">Agrege los Datos para Registrar asistencia</h3>
            <form action="{{url_for('Registro')}}" method="POST" >
            
              <div >
                <input type="text"  name="fullname" placeholder="Nombre" class="item">
              </div>
              <div >
                <input type="text" name="lastname" placeholder="Apellido" class="item">
              </div>
              <div >
                <input type="text" name="correo" placeholder="Correo Electronico" class="item">
              </div>
                <select name="carrera" class="slist">
                    <option value="">Seleccione su carrera..</option>
                    {% for o in carrers %}
                    <option value="{{ o.0 }}">{{ o.1 }}</option>
                    {% endfor %}
                </select>
              <button class="btn">
                Registrar Asistencia
              </button>
           
            </form>
          </div>
        </div>




        <div class="Registro">
          <div class="encabezado-registros"> 
              <h2 style="margin:5px; padding:15px;">Registros de Asistencia</h2>

          </div>
          <table >
            <thead>
              <tr>
                
                <td>Fullname</td>
                <td>lastname</td>
                <td>Carrera</td>
                <td >Fecha del Sistema</td>
                <td>Hora</td>
                <td>Editar</td>
              </tr>
            </thead>
            <tbody>
              {% for contact in asistencia %}
              <tr>
                <td>{{contact.1}}</td>
                <td>{{contact.2}}</td>
                <td>{{contact.3}}</td>
                <td>{{contact.4}}</td>
                <td>{{contact.5}}</td>
                <td><a href="/delete/{{contact.0}}" class="btn btn-danger btn-delete">delete</a></td>
               </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div>




    </div>
    <!-- footer -->
    <footer>
    <div class="contenedor">

      <section class="redes-sociales">
        <div class="contenedor">
          <a href="#" class="twitter"><i class="fa fa-twitter-square"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook-square" ></i></a>
          <a href="#" class="youtube"><i class="fa fa-youtube-play"></i></a>
          <a href="#" class="whatapps"><i class="fa fa-whatsapp"></i></a>
  
        </div>
        

      </section>
      <section>
      <div class="creditos" style="color: white;" >
      <p>Desarrollado por Lisseth Barrias y Guillermo Carrion</p>
      </div>
    </section>	
    </footer>
  
    </div>
  
  </div>	
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
  </body>
</html>
  
  